<div>

    <div class="h-full w-full">
        <div class="w-full flex justify-between border border-b bg-gray-100 p-6">
            <div class="flex">
                <div class="flex px-3 py-[12px]">
                    <div class=" cursor-pointer hover:bg-gray-200 " routerLink="../dashboard">
                        대쉬보드
                    </div>
                    <img src="assets/icons/right.svg">
                    <div class="text-gray-500">유저 관리</div>
                    <img src="assets/icons/right.svg">
                    <div class="text-gray-500">목표 관리</div>
                </div>
            </div>

            <div class="flex px-3 py-2 space-x-4">
                <img src="assets/icons/alter.svg" class="cursor-pointer">
                <img src="assets/icons/profile_icon.svg" class="cursor-pointer hover:bg-red-500 focus:ring-black">
            </div>
        </div>
    </div>
    <!-- 운동 기록 -->
    <div class="p-6 text-[24px] items-center">
        유저 관리
        <div class="py-[20px] px-[20px] mt-[39px] border border-b border-black rounded-lg bg-white">
            <div class="text-[30px] text-center">유저 운동, 식단, 목표 설정 관리</div>
            <div class="pb-2">운동 기록</div>
            <div class="border border-b rounded-[10px]">
                <input placeholder="Search" [(ngModel)]="u_query" type="text"
                    class="w-full px-[10px] py-[10px] rounded-[10px]">
            </div>
            <!-- 기존 코드 삭제한 곳 -->
            <table class="w-full text-centeritems-center table-fixed">
                <thead>
                    <tr>
                        <th class="p-2 text-left k h-full flex justify-start">날짜
                            <img src="assets/icons/asc.svg" class="p-2">
                        </th>
                        <th class="p-2 h-full">운동명</th>
                        <th class="p-2 h-full">현재 운동량</th>
                        <th class="p-2 h-full flex justify-center items-center">운동 목표
                            <img src="assets/icons/asc.svg" class="p-2">
                        </th>
                        <th class="p-2 h-full">달성여부</th>
                    </tr>
                </thead>
                <ng-container *ngFor="let target_l of u_target_list | filter:u_query">
                    <tbody class="text-center hover:bg-gray-100 active:bg-gray-200 cursor-pointer">
                        <tr>
                            <td class="p-2 text-left">{{ target_l.date }}</td>
                            <td class="p-2 text-left">{{ target_l.name }}</td>
                            <td class="p-2">{{ target_l.present }}</td>
                            <td class="p-2">{{ target_l.ex_target }}</td>
                            <td class="text-left p-2">{{ target_l.achive }}</td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>

    </div>

    <!-- 운동 목표(트레이너 설정) -->
    <div class="pt-6 pl-6 pr-6 pb-2 text-[24px] items-center">
        운동 목표(트레이너 설정)
        <div class="py-[20px] px-[20px] border border-b border-black rounded-lg bg-white">
            <div class="border border-b rounded-[10px]">
                <input placeholder="Search" [(ngModel)]="t_query" type="text"
                    class="w-full px-[10px] py-[10px] rounded-[10px]">
            </div>
            <!-- 기존 코드 삭제한 곳 -->
            <table class="w-full text-centeritems-center table-fixed">
                <thead>
                    <tr>
                        <th class="p-2 text-left k h-full flex justify-start">날짜
                            <img src="assets/icons/asc.svg" class="p-2">
                        </th>
                        <th class="p-2 h-full">운동명</th>
                        <th class="p-2 h-full">현재 운동량</th>
                        <th class="p-2 h-full flex justify-center items-center">운동 목표
                            <img src="assets/icons/asc.svg" class="p-2">
                        </th>
                        <th class="p-2 h-full">달성여부</th>
                    </tr>
                </thead>
                <ng-container *ngFor="let target_t of t_target_list | filter:t_query">
                    <tbody class="text-center hover:bg-gray-100 active:bg-gray-200 cursor-pointer">
                        <tr>
                            <td class="p-2 text-left">{{ target_t.date }}</td>
                            <td class="p-2 text-left">{{ target_t.name }}</td>
                            <td class="p-2">{{ target_t.present }}</td>
                            <td class="p-2">{{ target_t.ex_target }}</td>
                            <td class="text-left p-2">{{ target_t.achive }}</td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>

    </div>

    <!-- 식단 -->
    <div class="pt-6 pl-6 pr-6 pb-2 text-[24px] items-center">
        식단
        <div class="py-[20px] px-[20px] border border-b border-black rounded-lg bg-white">
            <div class="border border-b rounded-[10px]">
                <input placeholder="Search" [(ngModel)]="f_query" type="text"
                    class="w-full px-[10px] py-[10px] rounded-[10px]">
            </div>
            <!-- 기존 코드 삭제한 곳 -->
            <table class="w-full text-centeritems-center table-fixed">
                <thead>
                    <tr>
                        <th class="p-2 text-left k h-full flex justify-start">날짜
                            <img src="assets/icons/asc.svg" class="p-2">
                        </th>
                        <th class="p-2 h-full">아침</th>
                        <th class="p-2 h-full">점심</th>
                        <th class="p-2 h-full flex justify-center items-center">저녁
                            <img src="assets/icons/asc.svg" class="p-2">
                        </th>
                        <th class="p-2 h-full">기타 음식</th>
                    </tr>
                </thead>
                <ng-container *ngFor="let food_l of food_list | filter:f_query">
                    <tbody class="text-center hover:bg-gray-100 active:bg-gray-200 cursor-pointer">
                        <tr>
                            <td class="p-2 text-left">{{ food_l.date }}</td>
                            <td class="p-2 text-left">{{ food_l.morning }}</td>
                            <td class="p-2">{{ food_l.lunch }}</td>
                            <td class="p-2">{{ food_l.dinner }}</td>
                            <td class="text-left p-2">{{ food_l.other }}</td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>

    </div>
    asd
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <!-- <div>
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };
    </script>
    <script>
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
      </script> -->
    asd
    <!-- <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"
        chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas> -->

    <!-- <canvas id="myChart" width="400" height="400"></canvas>
    <script src="node_modules/chart.js/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script> -->
    <!-- <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script> -->
</div>