<!-- <div class="p-2 cursor-pointer grid grid-cols-5 grid-flow-col text-center border border-black bg-purple-600 items-center hover:bg-gray-100"
    *ngFor="let Index_l of index_list">
    <div class="flex justify-start items-center text-left">{{ Index_l.name }}</div>
    <div class="flex justify-center items-center h-full">{{ Index_l.user_id }}</div>
    <div class="flex justify-center items-center h-full">{{ Index_l.sex }}</div>
    <div class="h-full flex justify-center items-center">{{ Index_l.age }}</div>
    <div class="text-left p-2">{{ Index_l.residence }}</div>
</div> -->
<!-- <script src="./test.html"></script> -->
<router-outlet></router-outlet>