<!-- <input [(ngModel)]="query" type="text"> -->
<!-- <p>You can pass an existing component as content of the modal window. In this case, if you're still using Angular 8 or older, remember to add the content component
    in the <code>entryComponents</code> section of your <code>NgModule</code>. For Angular 9 or newer, it's not needed anymore.
    </p>
    
    <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->
    <!-- <div class="pt-4">
        <button class="btn btn-danger" (click)="clickedModal()">모달</button>
      </div> -->
      
      <!-- Modal -->
      <!-- <div [ngClass]="modal ? 'modal fade show d-block' : 'modal fade'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" (click)="clickedModalClose()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>body</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="clickedModalClose()">Close</button>
            </div>
          </div>
        </div>
      </div> -->
<!-- <router-outlet></router-outlet> -->



<ion-app>
  <ion-router-outlet>
  </ion-router-outlet>
</ion-app>