<input [(ngModel)]="query" type="text">
<!-- <ng-container *ngFor="let Index_l of index_list">
    <div
        class="p-2 cursor-pointer grid grid-cols-5 grid-flow-col text-center border border-black bg-purple-600 items-center hover:bg-gray-100" *ngIf="query === Index_l.name && query">
        <div class="flex justify-start items-center text-left">{{ Index_l.name }}</div>
        <div class="flex justify-center items-center h-full">{{ Index_l.user_id }}</div>
        <div class="flex justify-center items-center h-full">{{ Index_l.gender }}</div>
        <div class="h-full flex justify-center items-center">{{ Index_l.age }}</div>
        <div class="text-left p-2">{{ Index_l.residence }}</div>
    </div>
    <div
        class="p-2 cursor-pointer grid grid-cols-5 grid-flow-col text-center border border-black bg-purple-600 items-center hover:bg-gray-100" *ngIf="!query">
        <div class="flex justify-start items-center text-left">{{ Index_l.name }}</div>
        <div class="flex justify-center items-center h-full">{{ Index_l.user_id }}</div>
        <div class="flex justify-center items-center h-full">{{ Index_l.gender }}</div>
        <div class="h-full flex justify-center items-center">{{ Index_l.age }}</div>
        <div class="text-left p-2">{{ Index_l.residence }}</div>
    </div>
</ng-container> -->
    
<!-- <table class="w-full text-centeritems-center table-fixed">
    <thead>
        <tr>
            <th class="p-2 text-left k h-full flex justify-start">이름
                <img src="assets/icons/asc.svg" class="p-2">
            </th>
            <th class="p-2 h-full">User ID</th>
            <th class="p-2 h-full">성별</th>
            <th class="p-2 h-full flex justify-center items-center">나이
                <img src="assets/icons/asc.svg" class="p-2">
            </th>
            <th class="p-2 h-full">거주지</th>
        </tr>
    </thead>
    <ng-container *ngFor="let Index_l of index_list">
        <tbody class="text-center hover:bg-gray-100 active:bg-gray-200 cursor-pointer">
            <tr *ngIf="query === Index_l.name && query">
                <td class="p-2 text-left">{{ Index_l.name }}</td>
                <td class="p-2">{{ Index_l.user_id }}</td>
                <td class="p-2">{{ Index_l.gender }}</td>
                <td class="p-2">{{ Index_l.age }}</td>
                <td class="text-left p-2">{{ Index_l.residence }}</td>
            </tr>
            <tr *ngIf="!query">
                <td class="p-2 text-left">{{ Index_l.name }}</td>
                <td class="p-2">{{ Index_l.user_id }}</td>
                <td class="p-2">{{ Index_l.gender }}</td>
                <td class="p-2">{{ Index_l.age }}</td>
                <td class="text-left p-2">{{ Index_l.residence }}</td>
            </tr>
        </tbody>
    </ng-container> -->
<router-outlet></router-outlet>