<div class="h-full w-full flex">
    <div class="flex-col w-[252px] text-white items-start p-5 h-screen bg-primary">

        <div class="text-white py-7 px-5 flex gap-2.5 hover:bg-primary-Light cursor-pointer rounded-[10px]">
            <img src="assets/icons/logo.svg">
            <div>Health</div>
        </div>
        <div class="w-full h-px bg-primary-Lighter mb-5"></div>

        <div
            class="bg-primary-noselect flex px-5 py-[14px] w-full hover:bg-primary-Light cursor-pointer rounded-[10px]">
            <img src="assets/icons/dashboard.svg">
            <div class="px-3">Dashboard</div>
        </div>

        <div
            class="bg-primary-select flex justify-between px-5 py-[14px] w-full hover:bg-primary-Light cursor-pointer rounded-[10px]">

            <div class="flex gap-3">
                <img src="assets/icons/content.svg">배송장
            </div>
            <img src="assets/icons/accordian.svg">
        </div>

        <!-- <div class="bg-primary-noselect space-x-3 w-full hover:bg-primary-Light cursor-pointer rounded-[12px]">
            <div class="flex px-5 py-[14px] ">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/Dot.svg">
                </div>
                <div>배송장 관리</div>      
            </div>
            <div class="flex px-2 py-[14px] ">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/Dot.svg">
                </div>
                <div>반품배송장 관리</div>
            </div>
        </div> -->


        <div class="rounded-[12px]">
            <div class="bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-Light cursor-pointer">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/Dot.svg">
                </div>
                <div>배송장 관리</div>
            </div>
            <div class="bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-Light cursor-pointer">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/Dot.svg">
                </div>
                <div>반품배송장 관리</div>
            </div>
        </div>


        <div class=" flex px-5 py-[14px] w-full hover:bg-primary-Light cursor-pointer rounded-[10px]">
            <img src="assets/icons/basong.svg">
            <div class="px-3">통계</div>
        </div>
    </div>



    <div class="w-full">
        <div class="w-full flex justify-between border border-b bg-gray-100 p-6">
            <div>
                <div class="flex">
                    dashboard
                    <img src="assets/icons/right.svg">
                    <div class="text-gray-500">asd</div>
                </div>
            </div>
            <div>users</div>
        </div>
        <div class="w-full">contents</div>
    </div>
</div>
git config --global user.email "you@example.com"
git config --global user.name "Your Name"