<div class="h-full w-full flex">
    <div class="flex-col w-[252px] items-start p-5 h-screen bg-primary text-[16px] text-primary-nosel_dot">

        <div class="text-white py-7 px-5 flex gap-2.5 hover:bg-primary-select cursor-pointer rounded-[10px]"
            routerLink="/">
            <img src="assets/icons/logo.svg">
            <div class="text-white">관리자 페이지</div>
        </div>
        <div class="w-[212px] h-px bg-primary-Lighter mb-5"></div>

        <div class="flex px-5 py-[14px] w-full hover:bg-primary-select cursor-pointer rounded-[10px]"
            routerLink="/dashboard">
            <img src="assets/icons/dashboard.svg">
            <div class="px-3 text-white">대쉬보드</div>
        </div>

        <div class="bg-primary-noselect rounded-t-lg">
            <div
                class="bg-primary-select flex justify-between px-5 py-[14px] w-full hover:bg-primary-select cursor-pointer rounded-lg">

                <div class="flex gap-3 justify-between text-white">
                    <img src="assets/icons/content.svg">사용자 관리
                </div>
                <img src="assets/icons/accordian_top.svg">
            </div>

            <div>
                <div
                    class="bg-primary-noselect flex justify-between rounded-t-lg px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                    <div class="flex gap-3 justify-between text-white">
                        <img src="assets/icons/Dot.svg">유저 관리
                    </div>
                    <div>
                        <img src="assets/icons/accordian.svg">
                    </div>
                </div>
                <div class="bg-primary-select flex px-5 py-[14px] rounded-t-lg space-x-3 w-full hover:bg-primary-select cursor-pointer"
                    routerLink="/user_profile">
                    <div class="w-6 h-6 flex justify-center items-center">
                        <img src="assets/icons/Dot.svg">
                    </div>
                    <div class="text-white">프로필 관리</div>
                </div>
                <div class="bg-primary-select flex px-5 py-[14px] rounded-b-lg space-x-3 w-full hover:bg-primary-select cursor-pointer"
                    routerLink="/user_target">
                    <div class="w-6 h-6 flex justify-center items-center">
                        <img src="assets/icons/nosel_Dot.svg">
                    </div>
                    <div>목표 관리</div>
                </div>
            </div>
            <div
                class="bg-primary-noselect flex justify-between px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                <div class="flex gap-3 justify-between">
                    <img src="assets/icons/nosel_Dot.svg">트레이너 관리
                </div>
                <div>
                    <img src="assets/icons/accordian.svg">
                </div>
            </div>
            <div class="bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer"
                routerLink="/trainer_profile">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/nosel_Dot.svg">
                </div>
                <div>프로필 관리</div>
            </div>
            <div class="bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer"
                a>
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/nosel_Dot.svg">
                </div>
                <div>무얼할까 관리</div>
            </div>
        </div>
        <div class="rounded-[12px]">
            <div class="flex justify-between px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                <div class="flex gap-3 justify-between text-white">
                    <img src="assets/icons/Dot.svg">유저 대응
                </div>
                <div>
                    <img src="assets/icons/accordian.svg">
                </div>
            </div>
            <div
                class="bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/nosel_Dot.svg">
                </div>
                <div>신고 관리</div>
            </div>
            <div
                class="bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/nosel_Dot.svg">
                </div>
                <div>고객 문의 관리</div>
            </div>
        </div>
        <div class="rounded-[12px]">
            <div class="flex justify-between px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                <div class="flex gap-3 justify-between text-white">
                    <img src="assets/icons/Dot.svg">기타
                </div>
                <div>
                    <img src="assets/icons/accordian.svg">
                </div>
            </div>
            <div
                class="rounded-lg bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/nosel_Dot.svg">
                </div>
                <div>공지사항 관리</div>
            </div>
            <div
                class="rounded-lg bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/nosel_Dot.svg">
                </div>
                <div>이벤트 관리</div>
            </div>
            <div
                class="rounded-lg bg-primary-noselect flex px-5 py-[14px] space-x-3 w-full hover:bg-primary-select cursor-pointer">
                <div class="w-6 h-6 flex justify-center items-center">
                    <img src="assets/icons/nosel_Dot.svg">
                </div>
                <div>배너 관리</div>
            </div>
        </div>
        <div class=" flex px-5 py-[14px] w-full hover:bg-primary-select cursor-pointer rounded-[10px]">
            <img src="assets/icons/basong.svg">
            <div class="px-3 text-white">회계관리</div>
        </div>

        <div class=" flex px-5 py-[14px] w-full hover:bg-primary-select cursor-pointer rounded-[10px]" routerLink="pages/total">
            <img src="assets/icons/basong.svg">
            <div class="px-3 text-white">통계</div>
        </div>
    </div>
    <ion-content>
        <router-outlet>
        </router-outlet>
    </ion-content>
</div>